{% extends 'base.html' %}
{% block content %}
<form action= "{% url 'result' %}" method="get">
    <div class="container">
        <br> <div><b>NO.{{pnum}}</b> {{problem}}</div> <br>
    <div>
    <label><input type="radio" name="select" value="{{o1}}"> 1. {{o1}}</label> <br>
    <label><input type="radio" name="select" value="{{o2}}"> 2. {{o2}}</label> <br>
    <label><input type="radio" name="select" value="{{o3}}"> 3. {{o3}}</label> <br>
    <label><input type="radio" name="select" value="{{o4}}"> 4. {{o4}}</label> <br>
    </div> <br>
    <input type="hidden" name="answer" value="{{answer}}">
    <input type="hidden" name="pnum" value="{{pnum}}">
    <input type="submit">
    </div>
</form>
{% endblock %}
